 <footer class="footer fixed-bottom bg-primary py-2">
        <div class="container text-center">
            <span class="text-white">
                Copyright © <%= link_to "Andrii Lebedenko", "https://lebedenkoandrii.github.io/CV_2/", class: "text-white text-decoration-none"%>
            </span>
        </div>
</footer>